<div style="padding-left: 2cm;">
    <div style="font-size: large;">Contact form
    </div>
    <div>
        <form #contactForm="ngForm" (ngSubmit) = "onSubmit(contactForm)">
            <div class="form-group">
                <!-- autozaciągnięcie maila z konta jeśli jest użytkownik zalogowany? -->
                <label for = "email" >E-mail</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email /> 
            </div>
            <div class="form-group">
                <label for = "title" >Title</label>
                <input id="title" class="form-control" ngModel name="title" required /> 
            </div>
            <div class="form-group">
                <label for = "category" >Category</label>
                <select id="category" class="form-control" ngModel name="category" required ></select> 
            </div>
            <div class="form-group">
                <label for = "subCategory" >SubCategory</label>
                <select id="subCategory" class="form-control" ngModel name="subCategory" required ></select> 
            </div>
            <div class="form-group">
                <label for = "stockId" >Stock Id (optional)</label>
                <input id="stockId" class="form-control" ngModel name="stockId" /> 
            </div>
            <div class="form-group">
                <label for = "content" >Content</label>
                <input id="content" class="form-control" ngModel name="content" required /> 
            </div>
            <div>
                <button class="btn-primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
                <button class="btn-primary" type="reset">Clear</button>
            </div>
        </form>
    </div>
</div>