<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">Ops Dashboard</a>
      </div>

      <div class="collapse navbar-collapse" style="font-size: medium;">
        <ul class="list-unstyled">
          <li class="d-inline" routerLinkActive="active" *ngIf="!isAuthenticated">
              <a routerLink="/authenticate">Sign-in</a> | 
          </li>
          <li class="d-inline" >
              <a routerLink="/users">Users</a> || 
          </li>
          <li class="d-inline" >
            <a routerLink="/dashboard">dashboard</a> || 
          </li>
          <li class="d-inline" *ngIf="isAuthenticated">
            <a routerLink="/claims">Claims</a> || 
          </li>
          <li class="d-inline" *ngIf="isAuthenticated">
            <a routerLink="/specialAccess">Special Accesses</a> || 
          </li>
          <li class="d-inline" *ngIf="isAuthenticated">
            <a routerLink="/fullRefunds">Full Refunds</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isAuthenticated">
              <a (click)="onLogout()">logout</a>
          </li>
          <li *ngIf="isAuthenticated">
            <worktime></worktime>
          </li>
        </ul>
      </div>

      <div>
        <label for = "search">Search(stockId)</label>
        <input name = "search" value="searchedStockId">
        <button class="btn btn-primary" (click)="onSearch(searchedStockId)">Search</button>
      </div>


    </div>
</nav>

