<div class="col-xs-12 col-md-6 col-md-offset-3" style="font-size: medium;">
    <div>
        <p>{{vehicle.stockId}} {{vehicle.manufacturer}} {{vehicle.model}}</p>
        <p>StockId {{vehicle.stockId}}</p>
        <p>Manufacturer {{vehicle.manufacturer}}</p>
        <p>Model {{vehicle.model}}</p>
    </div>
    <div>
        <button class="btn-primary" >Request SA</button> | 
        <button class="btn-primary">Request PU Code [placeholder for future]</button>
        <button>Sweden CMR [placeholder for future]</button>
    </div>

</div>